@model List<EmployeesWorld.Models.Employee>

@{
    ViewData["Title"] = "ListDepartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<body>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Job Title</th>
                <th>Location</th>
                <th>Employee Name</th>
            </tr>
            @foreach (var item in Model.OrderBy(x => x.Title))
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Location</td>
                    <td>@item.Name</td>
                </tr>

            }
        </table>
    </div>
</body>

<br />
<br />
<br />
<br />
<br />